<div class="container">
    <div class="card-container">
      <mat-card>
        <mat-card-content>
            <div class="labels-container">
                <mat-form-field style="width: 400px;">
                    <input *ngIf="!change" type="email" matInput placeholder="Enter your email address!" [(ngModel)]="email">
                    <input *ngIf="change" type="string" matInput placeholder="Enter your reset code!" [(ngModel)]="code">
                </mat-form-field>
                <mat-form-field *ngIf="change" style="width: 400px;">
                  <input  type="string" matInput placeholder="Enter your new password!" [(ngModel)]="newPassword">
                </mat-form-field>
                <button *ngIf="!change" mat-raised-button style="background-color: black; color: white;" (click)="submitForm()">Submit</button>
                <button *ngIf="change" mat-raised-button style="background-color: black; color: white;" (click)="resetPassword()">Submit</button>
            </div>
            
        </mat-card-content>
      </mat-card>
    </div>
</div>
  
