<app-map></app-map>
<div class="request-form">
  <h2 class="request-form-header">Where can we pick you up?</h2>
  <div class="form-group">
    <input class="address-field" type="search" name="start-location" placeholder="Enter pickup location">
  </div>
  <div class="form-group">
    <input class="address-field" type="search" name="destination" placeholder="Enter destination">
  </div>
  <div>
    <select name="" id="vehicle-types">
      <option value="" disabled selected>Please select vehicle type</option>
      <option value="STANDARD">Standard</option>
      <option value="VAN">Van</option>
      <option value="LUXURIOUS">Luxurious</option>
    </select>
  </div>
  <div id="checkboxes">
      <label for="baby">Baby</label>
      <input type="checkbox" id="baby">
      <label for="pet">Pet</label>
      <input type="checkbox" id="pet">
  </div>
  <div class="btn-container">
    <button id="add-friends">+Add friends</button>
    <button class="confirm">Confirm</button>
  </div>
</div>
