<div class="change-container">
    <h1 class="change-title">Enter your old and new passwords!</h1>
    <form [formGroup]="passwordForm" (ngSubmit)="change()">

        <div class="form-group">
            <input class="change-field" type="password" name="old-password" placeholder="Old password"
            formControlName="oldPassword"/>
        </div>
        <div class="form-group">
            <input class="change-field" type="password" name="new-password" placeholder="New password"
            formControlName="newPassword"/>
        </div>
        <div class="form-group">
            <input class="change-field" type="password" name="confirm-password" placeholder="Confirm new password"
            formControlName="confirm"/>
        </div>
        <div class="btn-container">
            <button class="btn black" type="submit">Submit</button>
        </div>
    </form>
    <div *ngIf="hasError">
        <h3>{{errorMessage}}</h3>
    </div>
</div>