<div class="page">
    <div class="button-container">
        <button class="profile-button" autofocus [routerLink]="['/profile/info']">Profile</button>
        <button *ngIf="passenger"  class="profile-button" [routerLink]="['/profile/favorites']">Favorite Routes</button>
        <button class="profile-button" [routerLink]="['/profile/history']">Ride History</button>
        <button *ngIf="!passenger"  class="profile-button" [routerLink]="['/profile/reports']">Reports</button>
    </div>
    <div class="vertical-line"></div>
    <div class="content-container"> <p>
        <router-outlet></router-outlet>
    </p></div>
</div>
