<div *ngIf="!condition" class="details">
  <mat-card>
    <div class="div1">
      <div class="1st">
        <p>Departure: <span>{{departure}}</span></p>
        <p>Destination: <span>{{destination}}</span></p>
      </div>
      <div class="2nd">
        <p>Start Time: <span>{{stime}}</span></p>
        <p>End Time: <span>{{etime}}</span></p>  
      </div>
      <div class="3rd">
        <p>Cost: <span>{{cost}}</span></p>
        <p>Duration: <span>{{time}}</span></p>
      </div>
      <div class="4th">
        <p>Pet Transportation:  <span [appBool]="this.pet"></span></p>
        <p>Baby Transportation: <span [appBool]="this.baby"></span></p>
      </div>
    </div>
    <hr>
    <div class="div2">
      <div class="driver">
        <p>Driver: <span>{{driver}}</span></p>
      </div>
      <div class="rejection">
        <p>Rejection: <span>{{rejection}}</span></p>
      </div>
    </div>
    <hr>
    <div class="div3">
      <p>Passengers: <span>{{passengers}}</span></p>
    </div>
  </mat-card>

  <form *ngIf="passenger" id="favName" [formGroup]="favForm" (ngSubmit)="favorite()">
    <button class="addFav" type="submit">Add Favorite</button>
    <input class="favNameField" type="text" name="favName" placeholder="Please enter the favorite ride name!"
    formControlName="favNameField">
  </form>
  <button class="detailsBtn" (click)="back()">Back</button>
  <div>
    <button *ngIf="passenger" class="detailsBtn review" (click)="leaveReview()">Leave Review</button>
  </div>
  
  <h3 *ngIf="hasError"> Favorite ride name must be filled!</h3>
</div>
<table *ngIf="condition" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="departure">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Departure</th>
      <td mat-cell *matCellDef="let element">{{ element.departure }}</td>
    </ng-container>
  
    <ng-container matColumnDef="destination">
      <th mat-header-cell *matHeaderCellDef>Destination</th>
      <td mat-cell *matCellDef="let element">{{ element.destination }}</td>
    </ng-container>

    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef>Cost</th>
      <td mat-cell *matCellDef="let element">{{ element.cost }} RSD</td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Time</th>
      <td mat-cell *matCellDef="let element">{{ element.time }} min</td>
    </ng-container>
  
  
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" >
        <button class="detailsBtn" (click)="details(element.id)">Details</button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

</table><mat-paginator #paginator [pageSizeOptions]="[10, 5]" 
showFirstLastButtons></mat-paginator>
  