.login-container{
    position: absolute;
    top: 40%;
    left: 50%;
    background-color: white;
    width: 600px;
    margin-left: -300px;
    height: 600px;
    margin-top: -250px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Poppins';
    padding-top: 0px;

}
.login-container .login-title{
    font-size: 48px;
    font-display: semi-bold;
}
.login-container .form-group{
    display: flex;
    flex-direction: column;
}

.login-container .login-field{
    background-color: #f0f0f0;
    border: none;
    border-radius: 10px;
    width: 595px;
    height: 55px;
    align-self: center;
    margin-bottom: 30px;
    text-indent: 10px;
    font-size: 18px;
    color: 757575;
    padding: 0px;
}

.login-container .login-field2{
    background-color: #f0f0f0;
    border: none;
    border-radius: 10px;
    width: 595px;
    height: 55px;
    align-self: center;
    margin-bottom: 0px;
    text-indent: 10px;
    font-size: 18px;
    color: 757575;
    padding: 0px;
}

.login-container .btn-container .btn.black{
    background-color: black;
    color: white;
    width: 595px;
    height: 55px;
    border-radius: 10px;
    font-family: 'Poppins';
    font-size: 18px;
    font-display: semi-bold;
    border: none;
    cursor: pointer;
    padding: 0px;
}

.login-container .google-btn-container .btn-google{
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 81px;
    width: 595px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-display: semi-bold;
    background-color: #f0f0f0;
    padding: 0px;
}

.login-container.google-btn-container.btn-google.button-text{
    display: inline-flex;
    align-items: center;
    padding: 0px 20px;
    height: 100%;
}

.login-container.google-btn-container.btn-google.button-png{
    display: inline-flex;
    align-items: center;
    padding: 0px 20px;
    height: 100%;
}

.login-container .or-text p{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #d3d3d3;
    line-height: 1px;
    margin: 40px 0 40px;
}

.login-container .or-text span{
    padding: 0px 20px;
    background: white;
    color: #d3d3d3;
    font-size: 18px;
}

.login-container.google-btn-container img{
    margin-bottom: 3px;
    margin-right: 5px;
}

.login-container.forgot-password{
    margin-top: 0px;
    margin-bottom: 0px;
}

.login-container .forgot-pass-text{
    margin: 0px;
    margin-bottom: 15px;
    text-align: right;
}
