.login-container{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 600px;
    margin-left: -300px;
    height: 600px;
    margin-top: -250px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Poppins';

}
.login-container .login-title{
    font-size: 48px;
    font-display: semi-bold;
}
.login-container .form-group{
    display: flex;
    flex-direction: column;
}
.login-container .login-label{
    font-weight: 300;
    font-size: 15px;
    color: #b0b0b0;
}
.login-container .login-field{
    background-color: #f0f0f0;
    border: none;
    border-radius: 10px;
    width: 595px;
    height: 55px;
    align-self: center;
    margin-bottom: 30px;
    text-indent: 10px;
    font-size: 18px;
    color: 757575;
}

.login-container .btn-container .btn.black{
    background-color: black;
    color: white;
    width: 595px;
    height: 55px;
    border-radius: 10px;
    font-family: 'Poppins';
    font-size: 18px;
    font-display: semi-bold;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 0px;
}

.login-container .google-btn-container .btn-google{
    height: 81px;
    width: 595px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-display: semi-bold;
    background-color: #f0f0f0;
    margin-top: 100px;
}