<div class="register-container">
    <h1 class="register-title">Please fill our registration form</h1>
    <div class="form-group">
        <input class="register-field" type="text" name="username" placeholder="Please enter your email"/>
    </div>
    <div class="form-group">
        <input class="register-field" type="password" name="password" placeholder="Please enter your password"/>
    </div>
    <div class="form-group">
        <input class="register-field" type="password" name="password" placeholder="Please confirm your password"/>
    </div>
    <div class="form-group">
        <input class="register-field" type="text" name="first-name" placeholder="Please enter your first name"/>
    </div>
    <div class="form-group">
        <input class="register-field" type="text" name="last-name" placeholder="Please enter your last name"/>
    </div>
    <div class="form-group">
        <input class="register-field" type="text" name="phone" placeholder="Please enter your phone number"/>
    </div>
    <div class="btn-container">
        <button class="btn black" (click)="redirectFromToolbar('home')">Continue</button>
    </div>
</div>
<div>
    <p class="reminder">Please check your email for account activation link</p>
    <hr class="horizontal-line">
</div>

<!-- (click)="redirectFromToolbar('home')" -->